<section class="row bg-dark text-light px-3">

    <div class="col-3">
        <h1 class="p-5">Filters</h1>
    </div>

    <div id="posts" class="col-6 d-flex align-items-center flex-column border-start border-end border-5 border-light overflow-scroll h-75">
        <!-- Posts Go Here -->
    </div>

    <div class="col-3 p-3">
        <form onsubmit="app.PostController.createPost()" class="p-1 bg-dark text-light d-flex flex-column align-items-center border border-light rounded">

            <div>
                <label for="postTitle" class="text-center">Title</label>
                <input id="postTitle" type="text" name="title" minlength="2" maxlength="30" required class="form-control">
            </div>

            <div class="p-1">
                <label for="postDescription" class="text-center">Description</label>
                <input type="text" name="description" minlength="0" maxlength="100" class="form-control">
            </div>

            <div>
                <label for="postImg" class="text-center">Img</label>
                <input type="text" name="imgUrl" maxlength="100" required class="form-control">
            </div>

            <div class="p-1">
                <label for="postBody" class="text-center">Body</label>
                <textarea type="text" name="body" minlength="2" maxlength="2000" required class="form-control"> </textarea>
            </div>

            <button class="btn btn-outline-light w-50 text-center">Submit</button>

        </form>
    </div>


</section>