<section class="row">

    <div class="col-3"></div>

    <div id="posts" class="col-6">
        <!-- Posts Go Here -->
    </div>

    <div class="col-3">
        <form action="app.PostController.createPost()">

            <div>
                <label for="postTitle"></label>
                <input id="postTitle" type="text" name="title" minlength="2" maxlength="30" required>
            </div>

            <div>
                <label for="postDescription"></label>
                <input type="text" name="description" minlength="0" maxlength="100">
            </div>

            <div>
                <label for="postBody"></label>
                <input type="text" name="body" minlength="2" maxlength="2000" required>
            </div>

        </form>
    </div>


</section>